Source: golang-github-weppos-dnsimple-go
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Dmitry Smirnov <onlyjob@debian.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://github.com/dnsimple/dnsimple-go
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-weppos-dnsimple-go.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/golang-github-weppos-dnsimple-go.git
XS-Go-Import-Path: github.com/weppos/dnsimple-go

Package: golang-github-weppos-dnsimple-go-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: DNSimple API v1 client for Go
 Go client for the DNSimple API v1 (https://developer.dnsimple.com/).
